.header-title {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin: 0 auto;

  border-radius: 6px;
  background: var(--charcoal);
  overflow: hidden;

  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);
}

/* ESTADO BASE */
.header-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 0%;
  height: 100%;

  background: var(--color-primary);
  transition: all 0.4s ease-in-out;
}

/* HOVER */
.header-title:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.header-title span {
  position: relative;
  padding: 10px 22px;

  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.35em;
  text-transform: uppercase;

  z-index: 1;
}