---
import "../styles/dashboard.css";
import AppLayout from "../layouts/AppLayout.astro";
import StartStopButton from "../islands/StartStopButton";
import StatsSummary from "../islands/StatsSummary";

---

<AppLayout title="Trackly">
  <div class="dashboard">
    <div class="center">
      <StartStopButton client:load />
    </div>

    <div class="stats">
      <StatsSummary client:load />
    </div>
  </div>
</AppLayout>